@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Upper</h1>
    <p class="lead">Bievenido a la tienda de abarrotes. Mas chida del mundo</p>
    <p><a href="https://www.upper.energy/" class="btn btn-primary btn-lg">Haz Click para ver mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Mas Imagenes sobre nuestra tienda.</h1><br>
        <img width="350" height="250" HSPACE="450" VSPACE="10" src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/7WB5GGJF5JA6PCVFQX44FAMIUM.jpg">
        <img width="250" height="250" HSPACE="500" VSPACE="10" src="https://pbs.twimg.com/media/FfXq0S5XoAUAHsu?format=jpg&name=small">
        <img width="350" height="250" HSPACE="450" VSPACE="10" src="https://www.upper.energy/assets/img/por2n.png">
    </div>
    
</div>